body {
    margin: auto 0;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

li {
    float: right;
    padding: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}

a {
    color: black;
    text-decoration: none;
}

/*footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dc6b29;
    color: white;
    text-align: center;
}

/*menu*/
.wrapper-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 4rem;
    justify-items: center;
    align-content: center;
}

/*Contactus*/
.wrapper-contactUs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10rem;
    padding-bottom: 10rem;
    padding-top: 5rem;
    justify-items: center;
    align-content: center;
}

/*about us*/
.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*justify-content: space-around;*/
    /*margin-bottom: 10rem;*/
    flex-direction: row;
    padding: 4rem;
    justify-items: center;

}

img {
    align-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
}

.chef-img {
    align-content: center;
    align-items: center;
    border-radius: 80%;
    width: 20%;
}

.about h2 {
    font-size: 2rem;
    margin: 1rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
}

.about h3 {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
}

.about {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    padding: 4rem 4rem 5rem 3rem;
    border-radius: 12px;
    width: 100%;
}

.btn {
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 10rem;
    background: #dc6b29;
    margin: 0 0.5rem;
    color: black;
    transition: all 0.5s ease-in-out;
}

.btn.btn-pink:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.btn.btn-white {
    transition: all 0.5s ease-in-out;
}

.btn.btn-white:hover {
    background: white;
    border-color: black;
    color: black;
}

/*media queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper-menu {
        display: flex;
        /*flex-wrap: wrap;*/
        /*justify-content: space-around;*/
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .wrapper-contactUs {
        display: flex;
        /*flex-wrap: wrap;*/
        /*justify-content: space-around;*/
        flex-direction: column;
    }

    .about-wrapper {
        display: flex;
        /*flex-wrap: wrap;*/
        /*justify-content: space-around;*/
        flex-direction: column;
    }
}

/*responsive nav*/

.nav {
    height: 50px;
    width: 100%;
    background-color: #dc6b29;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}


/*contact*/

#contact {
    background-color: #dc6b29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-wrapper {
    width: 50%;
    padding: 5vh;
}

.contact-form-wrapper {
    background-color: #ffffff8f;
    border-radius: 10px 10px;
}

@media only screen and (max-width: 800px) {
    .contact-form-wrapper {
        border-radius: 0 0 10px 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .contact-box {
        width: 95%;
        margin: 8% 5%;
    }
}

.form-item {
    position: relative;
}

.form-label {
    position: absolute;
    top: 10px;
    left: 2%;
    color: #999;
    font-size: clamp(14px, 1.5vw, 18px);
    pointer-events: none;
    user-select: none;
}

input,
textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 12px;
    font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
    font-size: clamp(13px, 1.3vw, 16px);
    color: #777;
    top: -20px;
    transition: all .225s ease;
}

.submit-btn {
    background-color: #dc6b29;
    filter: drop-shadow(2px 2px 3px #0003);
    color: #fff;
    font-size: clamp(16px, 1.6vw, 18px);
    display: block;
    padding: 12px 40px;
    margin: 40px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.submit-btn:hover {
    transform: scale(1.1, 1.1);
}

.submit-btn:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
    h2 {
        font-size: clamp(40px, 10vw, 60px);
    }
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: clamp(30px, 12vw, 60px);
    }
}