body {
  background-color: whitesmoke;
  margin: 100px;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  float: left;
}

.toppings {
  display: flex;
  flex-wrap: wrap;
  right: 0;
  top: 0;
  justify-content: space-around;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50%;
}

.pizza {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.after {
  position: absolute !important;
  top: -30px !important;
  left: -20px !important;
  width: 350px;
  /* z-index: 1; */
}

#imgOne {
  width: 300px;
}

.price {
  width: 30%;
}

p {
  text-align: center;
}

button#reset {
  font-size: 30px;
  margin-left: 110px;
  margin-top: 50px;
}

#total {
  margin-top: 40px;
  font-size: 40px;
}